<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.carfuel">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Permite o acesso à Internet.-->

    <uses-permission android:name="android.permission.ACESS_NETWORK_STATE" />
    <!--Permite a leitura do estado da rede.-->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--Permite gravar informações no SD card.-->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--Permite ler informações no SD card.-->

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--Permite acessar os serviços da Google.-->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--Permite acessar o GPS por triangulação de antenas.-->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--Permite acessar o GPS por hardware.-->

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".QuantidadeLitros"></activity>
        <activity android:name=".Alcool_ou_Gasolina" />
        <activity android:name=".MediaKmLitro" />
        <activity android:name=".QuantoGastoKm" />
        <activity android:name=".TelaPrincipal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>